body {
  margin: 0;
  padding: 0;
  font-family: IBM Plex Mono, monospace;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(
    163.62% 163.62% at 50% -45.31%,
    #0ed4ff 0%,
    #ffffff 99.87%
  );
}

a {
  text-decoration: none;
  color: black;
}

.card {
  background: #e6f7ff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
