::selection {
  background: #00bde6;
  color: #fff;
}

::-moz-selection {
  background: #00bde6;
  color: #fff;
}

body {
  margin: 0;
  padding: 0;
  font-family: IBM Plex Mono, monospace;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(
    163.62% 163.62% at 50% -45.31%,
    #0ed4ff 0%,
    #ffffff 99.87%
  );
}

p,
input,
button {
  font-family: IBM Plex Mono, monospace;
}

a {
  text-decoration: none;
  color: black;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

#nav {
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 120px 1fr 120px;
  user-select: none;
}

.card {
  background: #e6f7ff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 496px;
  max-width: 496px;
  margin-top: calc(108px - 1.5rem);
  margin-left: auto;
  margin-right: auto;
}

.text {
  line-height: 24px;
}
.bold {
  font-weight: 500;
}
.extra-bold {
  font-weight: bold;
}
.no-select {
  user-select: none;
}
